<header class="header-background">

       <div class="clearfix border-bottom-thick header-border">
 
         <ul class="list-reset right py-1 header-text font-smoothing">                 
              <li class="inline-block">
                <a class="align-middle link-primary header-link mr-2" href="/tags">tags</a>
              </li> 
          </ul>
 
      
          <ul class="list-reset right py-1 header-text font-smoothing">                 
              <li class="inline-block">
                <a class="align-middle link-primary header-link mr-2" href="/archive">archive</a>
              </li> 
          </ul>
         
       </div>

</header>

