<article>
 <ul>
  
  {% for post in site.posts limit:5 %}
  
   <div class="container mx-auto px-2 py-4">
     <div class="container mx-auto px-2 py-4">
       <a class="no-underlines h5 bold text-accent">{{ post.date | date_to_string }} </a>  
       <h2 class="h1 1h-condensed col-9 mt-0"> 
         <a href="{{ post.url }}">{{ post.title }}</a>
       </h2>
     <div class="abbreviation">{{ post.content }}</div>
     </div>   
   </div>
     
  {% endfor %}
 
 </ul>
</article>

  {{% if page.previous %}}   &lt;&lt;
    <div class="previous page">
      <a class="previos page" href="{{ page.previous.url }}">previos</a>
    </div>
  {{% endif %}}

  {{% if page.next %}
    <div class="next page">
      <a class="next page" href="{{ page.next.url }}">next</a>
    </div>                    &gt;&gt;
  {{% endif %}}
