<div class="top-body">
 <article>
  <ul>
  
    {% for post in paginator.posts limit:3 %}
  
     <div class="container mx-auto px-2 py-4">
       <div class="container mx-auto px-2 py-4">
         <a class="no-underlines h5 bold text-accent">{{ post.date | date_to_string }} </a>  
         <h2 class="h1 1h-condensed col-9 mt-0"> 
           <a href="{{ post.url }}">{{ post.title }}</a>
         </h2>
       <div class="abbreviation">{{ post.content }}</div>
       </div>
       <hr color="#A4A4A4" width="960">
     </div>
     
   {% endfor %}
      
  </ul>
 </article>
</div>
