<div class="inline">

<div class="top-body media-body">
 <article>
  <ul>
  
    {% for post in paginator.posts limit:3 %}
  
     <div class="container mx-auto px-2 py-4">
       <div class="container mx-auto px-2 py-4">
         <a class="no-underlines h5 bold text-accent">{{ post.date | date_to_string }} </a>  
         <h2 class="h1 1h-condensed col-9 mt-0"> 
           <a href="{{ post.url }}">{{ post.title }}</a>
         </h2>
       <div class="abbreviation">{{ post.content }}</div>
       </div>
       <hr color="#A4A4A4">
     </div>
     
   {% endfor %}
      
  </ul>
 </article>
</div>


<div class="sidemenu spNone" >
<p class="sidetitle1">side menu</p>
  <ul>
   <p class="sidetitle">archive</p>
  </ul>

  <ul>
   <a href="/tags/">tag</a>
  </ul>
  <ul>
   <a href="/archive/">月別 archive</a>
  </ul>
  </div>
  
 <div class="spNone">
  <ul>
   <p class="sidetitle2">LINK</p>
  </ul>
  <ul>
   <a href="http://www.icraft.jp/">会社HP</a>
  </ul>
  <ul>
   <p>face book</p>
  </ul>
 </div>
  
 </div>
